<div class="party">
<h1>オソワ石川君パーティヌンチョウミジ🐳♨️</h1>
</div>
<div class="main">
<p>11:00：浦安出発</p>
<p>11:30：瑞江到着&出発</p>
<p>⏬</p>
<p>昼過ぎ頃、<%=link_to("観音埼","https://gurutabi.gnavi.co.jp/a/a_2617/")%>付近に到着</p>
<p>観音埼公園を散策しながら河津桜を拝む</p>
<p>近くにある<%=link_to("湯楽の里","https://www.yurakirari.com/yokosuka/")%>という温泉をキメてもOK</p>
<p>⏬</p>
<p>南に向かうと</p>
<p><%=link_to("三浦海岸駅から小松ヶ池公園までの道","https://iwalkedblog.com/?p=13436")%>にも河津桜スポットもあり</p>
<p>⏬</p>
<p>夕暮れ時</p>
<p>葉山、逗子、由比ヶ浜、鎌倉、江ノ島が立ち並ぶ湘南の海岸に沿ってドライブ</p>
<p>途中、逗子マリーナに立ち寄る</p>
<p>⏬</p>
<p>夜</p>
<p>元気があればみなとみらいに顔見せる</p>
</div>

<img src="/IMG_2519.jpg">
